<h1>用户登录</h1>
 <h3><%= params['ErrorMessage'] %></h3>
<%= form_tag('/logins/validate', :method => "post") do %>
<table>
  <tr>
     <tr>
        <td>
          用户名：<input name="userName"/>
        </td>
        <td>
          密  码：<input name="passwords" type="password"/>
        </td>
        <td>
          <input type="submit" value="提交"/>
        </td>
      </tr>
  </tr>
</table>
<% end %>
